<div id="sign_up_form">
  <h1><a href="/">bitly</a></h1>
  <h2>CREATE A FREE ACCOUNT</h2>
  <form action="/action_page.php">
    <input type="text" name="firstname" placeholder="First name">
    <br>
    <input type="text" name="lastname" placeholder="Last name">
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="text" name="username" placeholder="Username">
    <br>
    <input type="text" name="dob" placeholder="Date of birth">
    <br>
    <input type="text" name="password" placeholder="Password">
    <br><br>
    <input type="submit" value="CREATE ACCOUNT" id="submit_button">
  </form>
</div>
